<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script defer src="/main.js"></script>
    <title>EskaBot</title>
</head>

<body>
    <div id="container">
        <% if (user) { %>
            <div class="profile">
                <img class="logo"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Spotify_logo_with_text.svg/640px-Spotify_logo_with_text.svg.png"
                    alt="Spotify">
                <img class="pic" src="<%= user.body.images[0].url %> ">
                <div>
                    Logged in as <%= user.body.display_name %>
                </div>
                <a class="logout" href="/logout">Log Out</a>
            </div>

            <div id="playlist-list">
                <% playlists.forEach(pl=> { %>
                    <div id="<%= pl.id %>" class="playlist <%= pl.id == setPl ? " set-pl" : "" %>">
                        <img class="pl-image" src="<%= pl.images[0].url %>">
                        <div class="pl-name">
                            <%=pl.name %>
                        </div>
                    </div>
                    <% }) %>
            </div>

            <% } else {%>
                <div class="login">
                    <img class="logo"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Spotify_logo_with_text.svg/640px-Spotify_logo_with_text.svg.png"
                        alt="Spotify">
                    <a class="login-btn" href="/login">Log In</a>
                </div>
                <% }%>
    </div>
</body>

</html>
